#popup-root .popup-content .confDelete{
   
    border-radius: 4px;
}
#popup-root .popup-content h4{
    font-size: 15px;
}
#popup-root .popup-content input{
    padding: 10px 0px;
    margin-bottom: 5px;
    height: 20px;
}

body thead #usrBody{
    background-color: rgb(219, 219, 219);
    width: 20vw;
    height: 24.4vh;
    list-style: none;
    margin: 5vh 5vw;
    border-radius: 8px;
    border: 4px solid rgba(127,127,127,0.16);
    box-shadow: 0 1px 4px rgba(127,127,127,0.11);
    padding: 0;
}
 body thead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6vh 2vw;
    margin-bottom: 20px;
}
 body thead #usrBody li{
    font-size: 1.5vh;

    height: 4vh;
    border: 2px solid rgba(127,127,127,0.16);
    margin:0;
    padding-top: 0.5vh;
    padding-left: 1vw;
}
body thead #usrBody .deleteButton{
    cursor: pointer;
    text-align: center;
    align-items: center;
   
}
body thead #UsrBody popup h4,.h4{
    font-size: 10px;
    justify-content: center;
    
}
#carouselBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 7vh;
}
#carouselBar #carouselIcon{
    margin: 0vh 15vw;
    width: 2.5vmax;
    height: 2.5vmax;
    color: rgb(90, 90, 90);
    cursor: pointer;
}
